* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFEB3B;
    padding: 10px 20px;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

.img-container {
    width: 20%;
}

.logo img {
    max-height: 65px;
}

.nav-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.article-section {
    padding: 10px;
    margin-bottom: 20px;
    width: 70%;
}

.sport-container, .music-container {
    background-color: #81C784;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 10%;
    font-size: 14px;
}

.music-container {
    background-color: #F48FB1;
}

.music-hr, .sport-hr {
    min-width: 90%;
    height: 0.35rem;
    border: none;
}

.music-hr {
    background-color: #F48FB1;
}

.sport-hr {
    background-color: #81C784;
}

.music-section, .sport-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section {
    margin-bottom: 40px;
}

section h2 {
    padding: 5px 10px;
}

.content-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article img {
    width: 100%;
    height: 10em;
    min-height: 10em;
}

.article h3 {
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin: 12px 0;
}

.article a {
    text-decoration: none;
}

.article p {
    color: #777;
}

footer {
    background-color: #FFEB3B;
    text-align: center;
    padding: 40px 0;
}

.article-display {
    max-width: 70%;
}

.article-display img {
    width: 100%;
    height: auto;
}

.article-display h3 {
    margin-top: 30px;
    font-size: 40px;
}

.article-display p {
    margin-top: 20px;

}

.article-display p:first-of-type {
    color: #777;
}


.login-form {
    min-width: 40%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form button[type="submit"],
.login-form button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.login-form button[type="submit"]:hover,
.login-form button[type="button"]:hover {
    background-color: #45a049;
}

.register-form {
    min-width: 40%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.register-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.register-form button[type="submit"]:hover {
    background-color: #45a049;
}

.news-form {
    min-width: 40%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.news-form input[type="text"],
.news-form textarea,
.news-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.news-form textarea {
    height: 150px;
}

.news-form .radio-group {
    display: flex;
    margin-bottom: 15px;
}

.news-form .radio-group label {
    margin-right: 20px;
    font-weight: normal;
}

.news-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.news-form button[type="submit"]:hover {
    background-color: #45a049;
}

.logout-btn {
    display: block;
    max-width: 100px;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

.error-message {
    color: red;
    font-weight: bold;
}

.delete-btn {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.delete-btn:active {
    transform: scale(0.98);
}


@media (max-width: 1100px) {
    .content-home {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-left: 0;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .music-container, .sport-container {
        width: 25%;
    }
}

@media (max-width: 800px) {
    .content-home {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .logo {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .music-container, .sport-container {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .content-home {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }

    .logo {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .music-container, .sport-container {
        width: 40%;
    }
}
